{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
    <script src="https://kit.fontawesome.com/e03b286a27.js" crossorigin="anonymous"></script>
    <title>Friends</title>
</head>
<body>
    <nav class="shadow-md">
        <div class="logo-container">
            <a href="{% url 'index' %}"><img class="h-8" src="{% static 'img/logo.png' %}" alt=""></a>
        </div>

        <div class="links-container space-x-1">
            <a class="py-4 px-2 font-semibold" href="/posts/create">Create new post</a>
            <a class="py-4 px-2 font-semibold" href="/posts/feed">View Feed</a>
            <a class="py-4 px-2 font-semibold" href="{% url 'edit' %}">Edit profile</a>
            <a class="py-4 px-2 font-semibold" href="{% url 'register' %}">Register new account</a>
            <a class="py-4 px-2 font-semibold" href="{% url 'password_change' %}">Change password</a>
        </div>
        
        {% if request.user.is_authenticated %}
        <div class="button"><a href="{% url 'logout' %}">Log out</a></div>
        {% else %}
        <div class="button"><a href="{% url 'login' %}">Log in</a></div>
        {% endif %}
    </nav>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>