{% extends 'users/base.html' %}
{% load mathfilters %}
{% block content %}
<h1 class="text-3xl mb-10 text-white">Feed</h1>
<div class="posts-container grid grid-cols-1">
    {% for post in posts %}
        <a href="">
            <div class="rounded overflow-hidden w-[auto] h-[auto] bg-white shadow-lg text-black m-5">
                <div class="user-container flex mx-5 my-5 text-wrap">
                    <img class ="w-10 h-10 rounded-full" src="{{post.user.profile.photo.url}}" alt="profile_photo">
                    <div class="text-black mx-2 my-2 font-bold">{{post.user}}</div>
                </div>
                <img src="{{post.image.url}}" class="mx-auto" alt="Post_image"> 
                <div class="icons-container flex gap-3 mx-5 my-5 text-black text-xl">
                    <a id="{{post.id}}" class="btn-like">
                        {% if logged_user in post.liked_by.all %}
                        <i class="fa-solid fa-heart" style="color: #e8cbc0 !important; " id="redHeart"></i>
                        {% else %}
                        <i class="fa-solid fa-heart"></i>
                        {% endif %}
                    </a>
                    <a class="comment-btn" data-post-id="{{ post.id }}"><i class="fa-solid fa-comment"></i></a>
                    
                </div>
                <div class="likes-count mx-6">
                    {% if post.liked_by.count < 1 %}
                    {% elif post.liked_by.count == 1 %}
                        <b>{{ post.liked_by.first }}</b><span> likes this</span>
                    {% elif post.liked_by.count > 1 %}
                        <b>{{ post.liked_by.first }}</b><span> and {{post.liked_by.count|sub:1}} others like this</span>
                    {% endif %}
                </div>
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{post.title}}</div>
                    <p class="text-gray-700 text-base">{{post.description}}</p>
                </div>
                <div class="comments-container hidden" id="comments{{ post.id }}">
                    <div class="px-5 py-5">
                        <h2 class="font-bold">Comments</h2>
                        {% for comment in post.comments.all %}
                        <b>{{ comment.posted_by }}: </b>{{ comment.body }}
                        <br>
                        {% endfor %}
                    </div>
                    <div class="px-5 py-5">
                        <h1 class="text-2xl m-10">Write your comment</h1>
                        <form method="post" class=" shadow-md m-10 w-4/5 rounded px-8 pt-6">
                            {% csrf_token %}
                            <div>
                                {{comment_form.body}}
                            </div>
                            <div>
                                <input type="hidden" name="post_id" id="post_id" value="{{ post.id }}">
                                <input type="hidden" name="posted_by" id="posted_by" value="{{ logged_user }}">
                            </div>
                            <div><input class="submit-button px-5 py-2" type="submit" value="Send"></div>
                        </form>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

<script type="text/javascript">
    window.CSRF_TOKEN ="{{csrf_token}}"
    $(document).on('click','.btn-like',function(){
        let post_id = this.id;
        $.ajax({
            method:"POST",
            url:'/posts/like/',
            data:{post_id:post_id,csrfmiddlewaretoken:window.CSRF_TOKEN},
        });
        window.location.href="../../posts/feed/";
    });

    $(document).on('click', '.comment-btn', function () {
        let post_id = $(this).attr('data-post-id');
        $("#comments" + post_id).toggleClass('hidden');
    });

</script>
{% endblock %}
