@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    font-family: Montserrat,sans-serif;
    box-sizing: border-box;
    margin: 0;
    
}

nav{
    width: calc(100%-40px);
    position: sticky;
    top: 0;
    height: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

.links-container a{
    color: #645f96;
    transition: all 0.3s ease;
}

.links-container a:hover{
    color: #fff;
}

nav .button{
    width: 150px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.container{
    padding: 60px;
    border-radius: 10px;
    margin: auto;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

form{
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.514);
    text-align: center;
}

form p{
    margin-top: 10px;
}

.button{
    padding: 10px;
    background-color: #645f96;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    
}

.button:hover{
    filter: brightness(110%);
}
.button:active{
    transform: scale(0.95);
}

.submit-button{
    margin-top: 10px;
    padding: 10px;
    font-size: 12px;
    background-color: #e8cbc0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    
}

.submit-button:hover{
    filter: brightness(110%);
}
.submit-button:active{
    transform: scale(0.95);
}

a{
    text-decoration: none;
    
}

.icons-container i{
    
    cursor: pointer;
    transition: all 0.3s ease;

}



.icons-container i:hover{
    color: #e8cbc0;

}

.icons-container i:active{
    transform: scale(1.2);

}

